<header>
  <div class="back-button left-button" {{action 'back'}}>
    Back
  </div>
  <h1>
    {{controllers.form.repoURI}}
  </h1>
</header>
<div id="main">
  {{#if model.error}}
    {{ model.error.message }}
  {{else}}
  	<ul class="ui-table-view">
  		{{#each model.items as |item|}}
  			<li {{action 'showFile' item model.line}} class="disclosure">{{item.path}}</li>
  		{{/each}}
  	</ul>
  {{/if}}
</div>